name: Release

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

permissions: write-all

jobs:
  build-and-deploy:
    uses: "OpenDonationAssistant/oda-libraries/.github/workflows/release_service.yml@master"
    secrets: inherit
    with:
      service: twitch-service
      version: "${{ github.RUN_NUMBER }}"
